<h1><%= @user.username %>'s Profile!</h1>

<div class="users" align="center">
  <% @user.reviews.each do |review| %>
    <div class="user">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= review.game.title %></h3>
          <p>Score: <%= review.rating %>/10</p>
          <p><%= review.content %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>