<h1><%= @user.username %>'s Profile!</h1>
<h2>Reviews by <%= @user.username %>:</h2>

<ul>
<% @user.reviewed_games.each do |game| %>
  <li><%= game.title %></li><br>
  <% game.reviews.each do |review| %>
    <%= review.content %><br>
  <% end %>
  <br>
<% end %>
</ul>