<div class="title-container">
  <h1>All Games</h1>
</div>

<div class="games" align="center">
  <% @games.each do |game| %>
    <div class="game">
      <div class="thumbnail">
        <div class="caption">
          <strong><%= link_to game.title, game_path(game) %></strong></li><br>
          Genre: <%= game.genre.name %><br>
          <%= link_to "Review this game!", new_game_review_path(game) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
